---
title: Gamme 
description: Gamme 
---


		<nav id="secondaryNav" class="noMarg">
			<ul>
				<li><%= link_to "Mont-Blanc", "fiches.html" %></li>
				<li><%= link_to "Materne", "fiches.html" %></li>
				<li><%= link_to "Gloria", "fiches.html" %></li>
			</ul>
		</nav>

		<div class="product range">

			<div class="category">
				<h1 class="pageTitle">Les Pom'Potes</h1>

				<div class="contents">
					<article class="product teaser">
						<h3 class="name"><%= link_to "Pom'potes Nature", "product.html" %></h3>
						<% link_to "product.html", :class=>"packshot" do %><%= image_tag "products/pomPotesNature.png", :alt=>"packshot" %><% end %>
						<%= link_to "Voir les produits", "product.html", :class=>"button" %>
					</article>

					<article class="product teaser">
						<h3 class="name"><%= link_to "Pom'potes Fraise", "product.html" %></h3>
						<% link_to "product.html", :class=>"packshot" do %><%= image_tag "products/pomPotesFraise.png", :alt=>"packshot" %><% end %>
						<%= link_to "Voir les produits", "product.html", :class=>"button" %>
					</article>

					<article class="product teaser">
						<h3 class="name"><%= link_to "Pom'potes Poire", "product.html" %></h3>
						<% link_to "product.html", :class=>"packshot" do %><%= image_tag "products/pomPotesPoire.png", :alt=>"packshot" %><% end %>
						<%= link_to "Voir les produits", "product.html", :class=>"button" %>
					</article>

					<article class="product teaser">
						<h3 class="name"><%= link_to "Pom'potes <br/>Editions limitées", "product.html" %></h3>
						<% link_to "product.html", :class=>"packshot" do %><%= image_tag "products/pomPotesInedit.png", :alt=>"packshot" %><% end %>
						<%= link_to "Voir les produits", "product.html", :class=>"button" %>
					</article>

					<article class="product teaser">
						<h3 class="name"><%= link_to "Pom'potes bio", "product.html" %></h3>
						<% link_to "product.html", :class=>"packshot" do %><%= image_tag "products/pomPotesBio.png", :alt=>"packshot" %><% end %>
						<%= link_to "Voir les produits", "product.html", :class=>"button" %>
					</article>

					<article class="product teaser">
						<h3 class="name"><%= link_to "Pom'potes sans <br/>sucres ajoutés", "product.html" %></h3>
						<% link_to "product.html", :class=>"packshot" do %><%= image_tag "products/pomPotesSansSucres.png", :alt=>"packshot" %><% end %>
						<%= link_to "Voir les produits", "product.html", :class=>"button" %>
					</article>
				</div>
			</div>
				
			<hr class="dotted" />

			<div class="category">
				<h1 class="pageTitle">Ma pause fruits : les gourdes</h1>

				<div class="contents">
					<article class="product teaser bg-pink">
						<h3 class="name"><%= link_to "Gourde <br/>Pomme-Mangue-Goyave", "product.html" %></h3>
						<% link_to "product.html", :class=>"packshot" do %><%= image_tag "products/gourdeMangeGoyave.png", :alt=>"packshot" %><% end %>
						<%= link_to "Voir les produits", "product.html", :class=>"button" %>
					</article>

					<article class="product teaser bg-pink">
						<h3 class="name"><%= link_to "Gourde <br/> Pomme-Framboise-Cranberry", "product.html" %></h3>
						<% link_to "product.html", :class=>"packshot" do %><%= image_tag "products/gourdeFramboiseCranberry.png", :alt=>"packshot" %><% end %>
						<%= link_to "Voir les produits", "product.html", :class=>"button" %>
					</article>

					<article class="product teaser bg-pink">
						<h3 class="name"><%= link_to "Gourde <br/> Pomme-Myrtille-Grenade", "product.html" %></h3>
						<% link_to "product.html", :class=>"packshot" do %><%= image_tag "products/gourdeMyrtilleGrenade.png", :alt=>"packshot" %><% end %>
						<%= link_to "Voir les produits", "product.html", :class=>"button" %>
					</article>

					<article class="product teaser bg-pink">
						<h3 class="name"><%= link_to "Gourde <br/> Pomme-Pêche-Passion", "product.html" %></h3>
						<% link_to "product.html", :class=>"packshot" do %><%= image_tag "products/gourdePechePassion.png", :alt=>"packshot" %><% end %>
						<%= link_to "Voir les produits", "product.html", :class=>"button" %>
					</article>
				</div>
			</div>
				
			<hr class="dotted" />

			<div class="category">
				<h1 class="pageTitle">Ma pause fruits : les barres de fruits</h1>

				<div class="contents">
					<article class="product teaser bg-orange">
						<h3 class="name"><%= link_to "Barre <br/>Pomme-Abricot-Poire", "product.html" %></h3>
						<% link_to "product.html", :class=>"packshot" do %><%= image_tag "products/barreAbricot.png", :alt=>"packshot" %><% end %>
						<%= link_to "Voir les produits", "product.html", :class=>"button" %>
					</article>

					<article class="product teaser bg-orange">
						<h3 class="name"><%= link_to "Barre <br/>Pomme-Framboise-Myrtille", "product.html" %></h3>
						<% link_to "product.html", :class=>"packshot" do %><%= image_tag "products/barreFramboise.png", :alt=>"packshot" %><% end %>
						<%= link_to "Voir les produits", "product.html", :class=>"button" %>
					</article>
				</div>
			</div>
				
			<hr class="dotted" />

			<div class="category">
				<h1 class="pageTitle">Demo couleurs</h1>

				<div class="contents">
					<article class="product teaser bg-orange">
						<h3 class="name"><%= link_to "Pom'potes Nature", "product.html" %></h3>
						<% link_to "product.html", :class=>"packshot" do %><%= image_tag "products/pack18PomPotes.png", :alt=>"packshot" %><% end %>
						<%= link_to "Voir les produits", "product.html", :class=>"button" %>
					</article>

					<article class="product teaser bg-pink">
						<h3 class="name"><%= link_to "Pom'potes Nature", "product.html" %></h3>
						<% link_to "product.html", :class=>"packshot" do %><%= image_tag "products/pack18PomPotes.png", :alt=>"packshot" %><% end %>
						<%= link_to "Voir les produits", "product.html", :class=>"button" %>
					</article>

					<article class="product teaser">
						<h3 class="name"><%= link_to "Pom'potes Nature", "product.html" %></h3>
						<% link_to "product.html", :class=>"packshot" do %><%= image_tag "products/pack18PomPotes.png", :alt=>"packshot" %><% end %>
						<%= link_to "Voir les produits", "product.html", :class=>"button" %>
					</article>

					<article class="product teaser bg-white">
						<h3 class="name"><%= link_to "Pom'potes Nature", "product.html" %></h3>
						<% link_to "product.html", :class=>"packshot" do %><%= image_tag "products/pack18PomPotes.png", :alt=>"packshot" %><% end %>
						<%= link_to "Voir les produits", "product.html", :class=>"button" %>
					</article>

					<article class="product teaser bg-red">
						<h3 class="name"><%= link_to "Pom'potes Nature", "product.html" %></h3>
						<% link_to "product.html", :class=>"packshot" do %><%= image_tag "products/pack18PomPotes.png", :alt=>"packshot" %><% end %>
						<%= link_to "Voir les produits", "product.html", :class=>"button" %>
					</article>

					<article class="product teaser bg-blue">
						<h3 class="name"><%= link_to "Pom'potes Nature", "product.html" %></h3>
						<% link_to "product.html", :class=>"packshot" do %><%= image_tag "products/pack18PomPotes.png", :alt=>"packshot" %><% end %>
						<%= link_to "Voir les produits", "product.html", :class=>"button" %>
					</article>

					<article class="product teaser bg-yellow">
						<h3 class="name"><%= link_to "Pom'potes Nature", "product.html" %></h3>
						<% link_to "product.html", :class=>"packshot" do %><%= image_tag "products/pack18PomPotes.png", :alt=>"packshot" %><% end %>
						<%= link_to "Voir les produits", "product.html", :class=>"button" %>
					</article>

					<article class="product teaser bg-peach">
						<h3 class="name"><%= link_to "Pom'potes Nature", "product.html" %></h3>
						<% link_to "product.html", :class=>"packshot" do %><%= image_tag "products/pack18PomPotes.png", :alt=>"packshot" %><% end %>
						<%= link_to "Voir les produits", "product.html", :class=>"button" %>
					</article>

					<article class="product teaser bg-light-orange">
						<h3 class="name"><%= link_to "Pom'potes Nature", "product.html" %></h3>
						<% link_to "product.html", :class=>"packshot" do %><%= image_tag "products/pack18PomPotes.png", :alt=>"packshot" %><% end %>
						<%= link_to "Voir les produits", "product.html", :class=>"button" %>
					</article>

					<article class="product teaser bg-brown">
						<h3 class="name"><%= link_to "Pom'potes Nature", "product.html" %></h3>
						<% link_to "product.html", :class=>"packshot" do %><%= image_tag "products/pack18PomPotes.png", :alt=>"packshot" %><% end %>
						<%= link_to "Voir les produits", "product.html", :class=>"button" %>
					</article>

					<article class="product teaser bg-light-yellow">
						<h3 class="name"><%= link_to "Pom'potes Nature", "product.html" %></h3>
						<% link_to "product.html", :class=>"packshot" do %><%= image_tag "products/pack18PomPotes.png", :alt=>"packshot" %><% end %>
						<%= link_to "Voir les produits", "product.html", :class=>"button" %>
					</article>
				</div>
			</div>
				
			<hr class="dotted" />
		

		</div>