---
title: Fiches techniques
description: Fiches techniques
---


		<nav id="secondaryNav">
			<ul>
				<li><%= link_to "Mont-Blanc", "fiches.html" %></li>
				<li><%= link_to "Materne", "fiches.html" %></li>
				<li><%= link_to "Gloria", "fiches.html" %></li>
			</ul>
		</nav>

		<article class="product tech">
			<h2 class="title"><span>Mont Blanc Chocolat</span></h2>

			<div class="contents">
				<div class="list">
					<ul>
						<li><a href="#" target="_blank">CRÈME DESSERT CHOCOLAT boîte 4.3kg - 041410 (112ko)</a></li>
						<li><a href="#" target="_blank">CRÈME DESSERT CHOCOLAT boîte 4.3kg - 041410 (112ko)</a></li>
						<li><a href="#" target="_blank">CRÈME DESSERT CHOCOLAT boîte 4.3kg - 041410 (112ko)</a></li>
						<li><a href="#" target="_blank">CRÈME DESSERT CHOCOLAT boîte 4.3kg - 041410 (112ko)</a></li>
						<li><a href="#" target="_blank">CRÈME DESSERT CHOCOLAT boîte 4.3kg - 041410 (112ko)</a></li>
						<li><a href="#" target="_blank">CRÈME DESSERT CHOCOLAT boîte 4.3kg - 041410 (112ko)</a></li>
					</ul>
				</div>
				<div class="productImage">
					<%= image_tag "products/montBlancChocoSmall.png", :alt=>"Product name" %>
				</div>
			</div>
		</article>

		<article class="product tech">
			<h2 class="title"><span>Mont Blanc Vanille</span></h2>

			<div class="contents">
				<div class="list">
					<ul>
						<li><a href="#" target="_blank">CRÈME DESSERT CHOCOLAT boîte 4.3kg - 041410 (112ko)</a></li>
						<li><a href="#" target="_blank">CRÈME DESSERT CHOCOLAT boîte 4.3kg - 041410 (112ko)</a></li>
						<li><a href="#" target="_blank">CRÈME DESSERT CHOCOLAT boîte 4.3kg - 041410 (112ko)</a></li>
						<li><a href="#" target="_blank">CRÈME DESSERT CHOCOLAT boîte 4.3kg - 041410 (112ko)</a></li>
						<li><a href="#" target="_blank">CRÈME DESSERT CHOCOLAT boîte 4.3kg - 041410 (112ko)</a></li>
						<li><a href="#" target="_blank">CRÈME DESSERT CHOCOLAT boîte 4.3kg - 041410 (112ko)</a></li>
						<li><a href="#" target="_blank">CRÈME DESSERT CHOCOLAT boîte 4.3kg - 041410 (112ko)</a></li>
						<li><a href="#" target="_blank">CRÈME DESSERT CHOCOLAT boîte 4.3kg - 041410 (112ko)</a></li>
					</ul>
				</div>
				<div class="productImage">
					<%= image_tag "products/montBlancVanilleSmall.png", :alt=>"Product name" %>
				</div>
			</div>
		</article>

		<article class="product tech">
			<h2 class="title"><span>Mont Blanc Pistache</span></h2>

			<div class="contents">
				<div class="list">
					<ul>
						<li><a href="#" target="_blank">CRÈME DESSERT CHOCOLAT boîte 570 g - CODE 041277(112 ko)</a></li>
						<li><a href="#" target="_blank">CRÈME DESSERT CHOCOLAT boîte 570 g - CODE 041277(112 ko)</a></li>
					</ul>
				</div>
				<div class="productImage">
					<%= image_tag "products/montBlancPistacheSmall.png", :alt=>"Product name" %>
				</div>
			</div>
		</article>

		<article class="product tech">
			<h2 class="title"><span>Mont Blanc Café</span></h2>

			<div class="contents">
				<div class="list">
					<ul>
						<li><a href="#" target="_blank">CRÈME DESSERT CHOCOLAT carton de 48 boîtes easy peal) boîte 125 g - FO42691 (112 ko)</a></li>
						<li><a href="#" target="_blank">CRÈME DESSERT CHOCOLAT carton de 48 boîtes easy peal) boîte 125 g - FO42691 (112 ko)</a></li>
						<li><a href="#" target="_blank">CRÈME DESSERT CHOCOLAT carton de 48 boîtes easy peal) boîte 125 g - FO42691 (112 ko)</a></li>
						<li><a href="#" target="_blank">CRÈME DESSERT CHOCOLAT carton de 48 boîtes easy peal) boîte 125 g - FO42691 (112 ko)</a></li>
						<li><a href="#" target="_blank">CRÈME DESSERT CHOCOLAT carton de 48 boîtes easy peal) boîte 125 g - FO42691 (112 ko)</a></li>
					</ul>
				</div>
				<div class="productImage">
					<%= image_tag "products/montBlancCafeSmall.png", :alt=>"Product name" %>
				</div>
			</div>
		</article>