---
title: Photothèque et outils 
description: Photothèque et outils 
---

		<h1 class="pageTitle dotted">Ajustez votre recherche</h1>

		<nav id="triageNav">
			<div class="options">
				<h4>Marque</h4>
				<ul>
					<li><a href="#">Mont-Blanc</a></li>
					<li><a href="#">Materne</a></li>
					<li><a href="#">Gloria</a></li>
				</ul>
			</div>
			<div class="options">
				<h4>Type de document</h4>
				<ul>
					<li><a href="#">PLV</a></li>
					<li><a href="#">Photos</a></li>
				</ul>
			</div>
		</nav>

		<div class="resultWrap">
			<ul class="results">
				<li>
					<a href="#connectPop" class="pop"><%= image_tag "products/photo-MBChoco.png", :alt=>"Mont-Blanc choco" %></a>
					<a href="#connectPop" class="text pop">Télécharger en HD</a>
				</li>
				<li>
					<a href="#connectPop" class="pop"><%= image_tag "products/photo-MBVan.png", :alt=>"Mont-Blanc Vanille" %></a>
					<a href="#connectPop" class="text pop">Télécharger en HD</a>
				</li>
				<li>
					<a href="#connectPop" class="pop"><%= image_tag "products/photo-MBRiz.png", :alt=>"Mont-Blanc Riz" %></a>
					<a href="#connectPop" class="text pop">Télécharger en HD</a>
				</li>
				<li>
					<a href="#connectPop" class="pop"><%= image_tag "products/photo-MBCara.png", :alt=>"Mont-Blanc Caramel" %></a>
					<a href="#connectPop" class="text pop">Télécharger en HD</a>
				</li>
				<li>
					<a href="#connectPop" class="pop"><%= image_tag "products/photo-MBMarn.png", :alt=>"Mont-Blanc Grand Marnier" %></a>
					<a href="#connectPop" class="text pop">Télécharger en HD</a>
				</li>
				<li>
					<a href="#connectPop" class="pop"><%= image_tag "products/photo-MBPral.png", :alt=>"Mont-Blanc Praliné" %></a>
					<a href="#connectPop" class="text pop">Télécharger en HD</a>
				</li>
			</ul>
		</div>